<div class="container-fluid" style="margin-top:15px">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:15px">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title text-center header_text">Registration Form</h3>
                </div>
                <div class="panel-body">
                    <form name="registerForm" ng-submit="userResgister(registerForm.$valid)" role="form" novalidate>
                        <fieldset>
                            <div class="col-md-12 form-group required-field-block">
                                <label class="col-md-4 control-label label_text">Cédula / Nit</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Cédula/Nit" name="id" type="text" ng-model="register.ID" ng-maxlength="12" ng-required="true" numbers-only ng-pattern="/^[0-9]{1,12}$/" autofocus="">
                                    <div class="error-message" ng-messages="registerForm.id.$error" ng-if="interacted(registerForm.id) || registerForm.$submitted">
                                        <div class="error-message" ng-message="required">Debe ingresar un NIT</div>
                                        <div class="error-message" ng-message="minlength">El NIT es demasiado corto...</div>
                                        <div class="error-message" ng-message="maxlength">El NIT es demasiado largo...</div>
                                        <div class="error-message" ng-message="pattern">El NIT debe ser numérico</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group required-field-block">
                                <label class="col-md-4 control-label label_text">E-mail</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="register.Email" ng-minlength="3" ng-maxlength="40" autofocus="" required>
                                </div>
                            </div>
                            <div class="col-md-12 form-group required-field-block">
                                <label class="col-md-4 control-label label_text">Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="register.Password" value="">
                                </div>
                            </div>
                            <div class="col-md-12 form-group required-field-block">
                                <label class="col-md-4 control-label label_text">Confirm Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Confirm Password" name="confirmPassword" type="password" ng-model="register.Password2" value="">
                                </div>
                            </div>
                            <div class="alert alert-warning" ng-show="hasRegistrationError">
                                <a href="#" class="alert-link" ng-bind="registrationErrorDescription">
                                </a>
                            </div>
                            <div class="col-md-12 text-center">
                                <a href="" type="submit" class="btn btn-sm btn-success">Create account</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
